
h2{
    position: relative;
    top: 5px;
    left: 30%;
    width: auto;
    color: gray;
}
.conteudo > .row > .input-field.col.s12 > .validate{
    position: relative;
    width: 70%;
    left: 15%;
}

.conteudo{
    position: relative;
    width: 50%;
    left: 23%;
    top: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px gray;
}

.btn.waves-effect.waves-light{
    height: 50px;
    width: 40%;
    left: 30%;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.validate::placeholder{
    color: rgba(58, 56, 56, 0.712)

}
